/* content.css */

$color_marked: #044D22;
$color_unmarked: #a94442;
$color_leaf: #ACDA9E;

$color_study: #2B637B;
$color_main: #E08031;
$color_nonMain: #8990dd;
$color_post: #e05371;

.spider {
  position: relative;
  &.spider-main {
    box-sizing: border-box;
    border: 1px solid $color_main !important;
    position: relative;
  }
  &.spider-post {
    box-sizing: border-box;
    border: 1px solid $color_post !important;
    position: relative;
  }
  &.mainMask {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: $color_main;
    opacity: 0.3;
  }
  &.marked {
    position: relative;
    &.listNode {
      box-sizing: border-box;
      border: 1px solid $color_marked !important;
    }
    &:hover .collect-btn {
      display: block !important;
      top: 0;
      left: 0;
    }
  }
  &.unmarked {
    box-sizing: border-box;
    border: 1px dashed $color_unmarked !important;
    .collect-btn {
      //display: none;
    }
  }
  &.listNode {
    //width: max-content;
    width: auto;
    margin: -4px;
    border: 1px solid $color_leaf !important;
    box-sizing: border-box;
  }
  .collect-showBtn{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;

    padding: .1rem .3rem;
    margin: 0;

    color: black !important;
    font-size: 1rem !important;
    font-family: fantasy !important;
    line-height: 1.5rem !important;

    background: $color_study;
    border-radius: 4px;
    opacity: .5;
    cursor: pointer;

    z-index: 8080;

    &.collect-main{
      z-index: 9090;
      background-color:  $color_main;
    }
    &.collect-post{
      z-index: 9091;
      background-color:  $color_post;
    }
    &.collect-listNode{
      z-index: 9090;
      background-color:  $color_leaf;
    }
    &:hover{
      opacity: 1;
      .collect-btn{
        display: flex;
      }
    }
  }
  .collect-btn {
    display: none;
    //position: absolute;
    flex-direction: column;
    z-index: 9998;

    width: fit-content;
    height: initial;
    padding: 0;

    color: white;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;

    //background: rgba(0, 0, 0, .3);
    //box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
    //border-radius: 2px;
    .collect-item{
      min-width: 3rem;
      padding: 0 1rem;
      display: inline-flex;
      border-bottom: whitesmoke 2px solid;
      opacity: .5;
      &:hover{
        opacity: 1;
      }
    }
    &.collect-show{
      display: flex;
    }
    &:last-child{
      border: none;
    }
  }
  &.collect-hover{
    border: 2px $color_study solid !important;
  }

  .listNode_components{
    box-sizing: border-box;
  }
  //&:hover{
  //  & > .collect-btn{
  //     display: flex;
  //  }
  //}
}
.spider-toast{
  &.toast {
    text-align: left;
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 9999;
    box-sizing: content-box;

    font-family: "Microsoft JhengHei UI", serif;

    ul{
      display: flex;
      flex-direction: column-reverse;
    }

    .toast-item {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: space-between;

      width: 200px;
      height: 66px;
      max-width: 500px;
      margin: 10px 0;
      padding: 10px 30px;

      border-radius: 4px;
      box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
      background: white;

      transition:all 0.5s;

      .toast-content {
        box-sizing: content-box;
      }

      .toast-title {
        margin-bottom: 5px;

        color: #3e3e3e;
        font-weight: 700;
        font-size: 20px;
      }

      .toast-message {
        font-size: 14px;
        color: #878787;
      }

      .toast-close {
        width: 14px;
        cursor: pointer;
        height: 14px;
        fill: #878787;
        opacity: 0.5;
        span {
          font-size: 1rem;
        }
        &:hover {
          opacity: 1;
        }
      }

      &.toastClose {
        height: 0;
        border: none;
        margin: 0;
        padding: 0;
        opacity: 0;
      }

      &.toast-green {
        border-left: $color_marked 4px solid;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.up {
        animation: toast 1s;
      }

      &.down {
        animation: toast 1s;
      }
    }
  }
  @keyframes toast {
    0% {
      transform: translateY(-1000px);
    }
  }
}
.spider-nonMain{
  box-sizing: border-box;
  border: 2px solid $color_nonMain !important;
  //position: relative;
}